:root {
  --powder-blue: #b8d8d8ff;
  --cadet-blue: #7a9e9fff;
  --deep-space-sparkle: #4f6367ff;
  --beige: #eef5dbff;
  --orange-red-crayola: #fe5f55ff;
}

* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
  background-color: var(--cadet-blue);
}

/* responsive navbar */
.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--deep-space-sparkle);
}

#imgCS {
  width: 12%;
  height: auto;
  object-fit: cover;
  margin: 8px;
  border-style: double;
  border-width: 4px;
  border-color: var(--beige);
}

#name {
  color: var(--beige);
  font-size: 24px;
  position: relative;
  flex-grow: 2;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.nav-links {
  margin: 8px;
}

.nav-link {
  text-decoration: none;
  color: var(--beige);
  font-size: 20px;
  font-weight: 400;
}

.nav-link:hover,
#cv:hover {
  color: var(--orange-red-crayola);
  cursor: pointer;
}

#hero {
  height: 400px;
  width: 100%;
  background-image: url("assets/images/Kinkakuji.jpg");
  background-size: cover;
  background-position: center;
}

#herocaption {
  color: var(--beige);
  position: relative;
  top: 90%;
  right: 2%;
  text-align: right;
  font-size: 12px;
}

.section-title {
  color: var(--beige);
  font-size: 18px;
  font-weight: 400;
  margin: 18px;
  width: 15%;
}

.aboutme-container {
  display: flex;
  flex-direction: row;
  margin: 18px;
}

.aboutme-content {
  color: var(--deep-space-sparkle);
  border-left: 8px solid var(--deep-space-sparkle);
  padding: 4px 8px;
  width: 80%;
}

#cv {
  text-decoration: none;
  color: var(--beige);
}

.portfolio-container {
  display: flex;
  flex-direction: row;
  margin: 18px;
}

.portfolio-main {
  border-left: 8px solid var(--deep-space-sparkle);
  padding: 4px 8px;
  width: 80%;
}

.contact-container {
  display: flex;
  flex-direction: row;
  margin: 18px;
}

.contacts {
  border-left: 8px solid var(--deep-space-sparkle);
  padding: 8px 8px;
  width: 80%;
}

.contacts i {
  font-size: 48px;
  margin-left: 48px;
  position: relative;
  left: 10%;
}

.footer {
  background-color: var(--deep-space-sparkle);
  color: var(--cadet-blue);
  text-align: center;
  padding: 8px;
}

/* mobile viewport styles */
@media screen and (max-width: 576px) {
  .navbar-container {
    flex-direction: column;
    align-items: center;
  }

  .nav-link-container {
    flex-direction: column;
    align-items: center;
  }
}
